body{
width: 100vw;
    background-color:#000000;
    }
*{
    margin: 0;
}
.search-box{
    position: relative;
    width: 400px;
    height:50px;
    font-size:30px;
    background-color: black;
    
}


.search-box input {
      width: 100%;
      padding: 15px 50px 15px 20px; 
      border: 2px solid #ffffff;
      border-radius: 30px;
      outline: none;
      font-size: 20px;
      }

input[type="text"] {
      
      font-size: 35px;
      border: 1px solid white;
      background: transparent;
      color: white; 
    
    }



.search-box button{
      position: absolute;
      cursor: pointer;
      font-size: 100px;
      background-color:white;
      color: rgb(252, 248, 248);
      border: solid white;
      
    }


main{
    width: 80%;
    height:500px;
    margin: 100px auto;
    position: relative;
    overflow: hidden;
    box-shadow:grey;
    border-radius:100px;
    margin-top:100px;
      

}

.slide{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 1s;;
    position: absolute;
}


.nav{
    text-align: center;
    margin-top:20px;


}
.nav button{
    font-size: 25px;
    padding: 8px 15px;
    margin: 5px;
    cursor: pointer;
    border: none;
    background: rgb(46, 32, 167);
    color: white;
    border-radius: 10px;
    transition: 0.5s;
}

.nav button:hover {
    background: rgb(21, 7, 70)5;
}

h1{

color: rgb(249, 247, 247);
font-size: 80px;

}


#he1{
display: flex;
color: rgb(255, 254, 254);
font-size: 80px;
justify-content: center;
}

h2{
display: flex;
color: rgb(255, 254, 254);
font-size: 80px;
justify-content:center;

}

p{

 font-size:40px;

}

#b2 
{
  margin:50px;
  font-size: 30px;
padding: 10px;
  color:white;
  border-radius: px;
  background-color: rgb(46, 32, 167);
  transition: 0.5s;

}
#b2:hover{
    background-color: rgb(21, 7, 70);
}

.box{
    height:400px;
    width:300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom:10px;
}

.container{
    display:flex;
    justify-content: space-evenly;
    border-radius:5px ;


}

#navbar{
    width:100%;
    background-color: #0e076a;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    position:fixed;
}

.logo{
   grid-column: 1;
   padding: 10px;
   

}

.logo img{
    border-radius: 10px;

}


.search{
    display: flex;
    grid-column: 2;
    padding: 5px;
 background: #555;
  align-items: center;
  
}
.links{
    grid-column:3;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 30px;
    margin-right:100px ;
 
    
}

.links a{
    color: #ffffff;
    padding: 10px;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.5;
}

.links:hover{
    color: #555;

}
.search input{
    display: flex;
    padding:10px;
    border-radius: 5px;
    background-color: #ddd;
    outline: none;
    color:black;
}
.search img{
    display:flex;
    width: 50px;
    margin-left: 5px;
}

.search .fa-solid{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    color: #ffffff;
    
}

button a{
    text-decoration: none;
    color: white;
}
