body{
      background-color:#080808;
}

button{
    padding: 10px;
    margin: 10px;
    background-color: rgb(46, 32, 167);
    border-radius: 10px;


}

button:hover{
 background-color: rgb(21, 7, 70);
}

button a{
    text-decoration: none;
    color: white;


}





.box{
    height:200px;
    width:150px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom:10px;
}

.container{
    display:flex;
    justify-content: space-evenly;
     border-radius:5px ;

}

h2{
    display: flex;
    justify-content: center;
     color:#ffffff;
     font-size: 50px;
     margin-left: 100px;

}

#img2{
    display: flex;
    justify-content: center;



}
#navbar{

    width:100%;
    background-color:  #0e076a;
    display: flex;
    grid-template-columns: 1fr auto 1fr;
    justify-content: center;

}


.logo{
   grid-column: 1;
   padding: 10px;
   

}
.logo img{
    border-radius: 10px;

}
